body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
}

main {
  background-color: #17293aad;
  height: 100vh;
}

.bg-img {
  width: 100%;
  height: 100vh;
  object-fit: cover;
  object-position: center;
  position: absolute;
  z-index: -1;
  left: 0;
}
.welcome-container {
  background-color: #17293a;
  width: 350px;
  margin: auto;
  position: relative;
  top: 20vh;
  padding: 50px;
  border-radius: 20px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.421);
  box-sizing: border-box;
}
#logo-portrait {
  width: 150px;
  display: block;
  margin: auto;
}

.page-msg {
  font-size: 22px;
  color: white;
  font-weight: 300;
  text-align: center;
  width: 95%;
  margin: 40px auto;
}

#onboarding-links {
  display: flex;
  width: 100%;
  justify-content: center;
  margin: auto;
}

.onboarding-link {
  width: 100px;
  background: white;
  color: #17293a;
  font-weight: 700;
  font-size: 14px;
  text-decoration: none;
  padding: 10px 5px;
  border-radius: 10px;
  margin: 0 10px;
  transition: all 0.2s ease-in;
}

.onboarding-link:hover {
  background: rgb(88, 225, 127);
  color: white;
}

form {
  width: 300px;
  margin: auto;
  display: flex;
  flex-direction: column;
}

form label {
  width: 100%;
}

form p {
  margin: 0;
  background: #ffe0e5;
  color: red;
  border-radius: 3px;
}

form input {
  margin: 5px 0;
  padding: 6px 5px;
  border-radius: 5px;
  border: 2px lightgray solid;
  width: 95%;
}

form input:focus {
  background-color: rgb(255, 254, 224);
  outline: none;
}

.avatar {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 100%;
  background: linear-gradient(
    0deg,
    rgba(255, 160, 62, 1) 0%,
    rgba(253, 78, 116, 1) 100%
  );
  padding: 5px;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.236);
}
