/* Global 
========================================*/

html {
  background-image: url("./assets/bg-img.jpg");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  background-attachment: fixed;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: left;
  background: #17293aad;
  min-height: 100vh;
  max-height: 100%;
  padding-bottom: 100px;
  padding-top: 100px;
}

h1 {
  color: white;
}

button,
textarea {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

ul {
  list-style: none;
  padding: 0;
  margin-top: 60px;
}

.bold {
  font-weight: 900;
}

.bold-medium {
  font-weight: 700;
}
.white {
  color: white;
}
.blue {
  color: #17293a;
}

.red {
  color: #843030;
}
.grey {
  color: gray;
}
.dark-grey {
  color: rgb(61, 61, 61);
}
.small {
  font-size: 14px;
}
.no-margin {
  margin: 0 !important;
}
.flex {
  display: flex;
  align-items: baseline;
}
.right-m10 {
  margin-right: 10px !important;
}
.relative {
  position: relative;
}
.absolute-br {
  position: absolute;
  bottom: 5px;
  right: 5px;
}
.absolute-b {
  position: absolute;
  bottom: 5px;
}
.post-form-btn {
  width: 150px !important;
  margin: 15px 0 0 0 !important;
}

.width-80 {
  width: 80%;
}

.mt60 {
  margin-top: 60px !important;
}

.mr20 {
  margin-right: 20px;
}

.spinner {
  display: flex;
  margin: 100px auto;
  justify-content: center;
}
.inner-spinner {
  margin: auto;
  display: block;
}

/* Header 
========================================*/

header {
  background-color: #17293a;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 100;
}

#header-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: auto;
  padding: 5px 15px;
}

#header-logo {
  width: 150px;
}

#user {
  display: flex;
  align-items: center;
}
#user p {
  color: lightgray;
  margin-right: 10px;
}
.avatar {
  width: 30px;
  height: 30px;
  object-fit: cover;
  object-position: center;
  border-radius: 100%;
  background: linear-gradient(
    0deg,
    rgba(255, 160, 62, 1) 0%,
    rgba(253, 78, 116, 1) 100%
  );
  padding: 3px;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.236);
}

/* Nav Menu 
========================================*/

nav {
  background: linear-gradient(
    70deg,
    rgba(255, 160, 62, 1) -50%,
    rgba(253, 78, 116, 1) 100%
  );
  display: flex;
  flex-direction: column;
  width: 50px;
  padding: 5px;
  border-radius: 7px;
  position: fixed;
  right: 3vw;
  top: 100px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.421);
  z-index: 50;
}

.nav-link {
  margin: 7px 0;
  text-decoration: none;
  color: white;
  font-size: 12px;
  text-align: center;
}

.nav-icon {
  width: 25px;
}

/* Main Content 
========================================*/
.date-time {
  padding: 10px;
  border-radius: 10px;
  color: #17293a;
  display: flex;
}
.date-time h1 {
  margin: 0 20px 0 0;
  font-weight: 600;
  font-size: 18px;
}
.date {
  color: #ffffb6;
}
.time {
  color: #b5ffcb;
}
main {
  width: 75%;
  margin-left: 20px;
  max-width: 800px;
}

.intro-msg {
  background-color: white;
  padding: 10px 20px;
  border-radius: 20px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.421);
}
.intro-msg h1 {
  color: #17293a;
  font-weight: 900;
  margin: 0;
}
.intro-msg p {
  color: slategray;
}

.list-intro {
  color: white;
  position: relative;
  margin: 40px 0 20px 0;
}

.list-intro::before {
  content: "";
  position: absolute;
  top: 110%;
  width: 100%;
  left: 0;
  height: 5px;
  border-radius: 2px;
  background: linear-gradient(
    0deg,
    rgba(255, 160, 62, 1) 0%,
    rgba(253, 78, 116, 1) 100%
  );
}

.list-container {
  display: flex;
}
.daily-card-list {
  margin-top: 0;
}
.card-wrapper {
  display: flex;
  align-items: center;
  /*! height: 100px; */
  /*! max-height: 500px; */
  margin: 15px 0;
}

.card-wrapper h3,
.card-wrapper p {
  margin: 5px 0;
}
.smiley {
  width: 60px;
  /*! height: 30px; */
  object-fit: cover;
  object-position: center;
  border-radius: 100%;
  background: linear-gradient(
    0deg,
    rgba(255, 160, 62, 1) 0%,
    rgba(253, 78, 116, 1) 100%
  );
  padding: 3px;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.236);
  margin-right: 20px;
}

.card-accent {
  height: 140px;
  max-height: 500px;
}

.post-card {
  background-color: #faffdf;
  padding: 0 10px;
  border-radius: 0 20px 20px 0;
  width: 100%;
  height: 140px;
  box-sizing: border-box;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.421);
  max-height: 500px;
}
.post-time {
  position: absolute;
  top: 0;
  right: 0;
  padding-right: 20px;
  color: #8a765e;
}

.delete-btn {
  border: none;
  outline: none;
  width: 25px;
  background: none;
  cursor: pointer;
}
.post-form-wrapper {
  background-color: #17293ac4;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.421);
  margin-top: 40px;
}
.post-form-heading {
  position: relative;
}
.post-form-heading::before {
  content: "";
  position: absolute;
  top: 110%;
  width: 100%;
  left: 0;
  height: 5px;
  border-radius: 2px;
  background: linear-gradient(
    0deg,
    rgba(255, 160, 62, 1) 0%,
    rgba(253, 78, 116, 1) 100%
  );
}
.post-form {
  width: 100%;
}
.post-form label {
  width: 102%;
  margin: 5px 0;
}

.story-link {
  display: block;
  text-decoration: none;
  font-size: 30px;
  margin: 5px;
}

.qa-wrap {
  background-color: #17293a;
  padding: 30px;
  border-radius: 20px;
  margin-bottom: 40px;
}

.edit-text,
#answer {
  background-color: #f0f8ff1a;
  margin-top: 20px;
  border-radius: 5px;
  color: white;
  padding: 5px;
  width: 98%;
}

.edit-text:focus {
  background-color: #f0f8ff1a !important;
  color: white !important;
}

/* Login & Registration Pages 
========================================*/
.home-screen {
  width: 100% !important;
}
.welcome-container {
  background-color: #17293a;
  width: 350px;
  margin: auto;
  position: relative;
  top: 20vh;
  padding: 20px 30px;
  border-radius: 20px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.421);
  box-sizing: border-box;
}
#logo-portrait {
  width: 150px;
  display: block;
  margin: auto;
}

.page-msg {
  font-size: 20px;
  color: white;
  font-weight: 300;
  text-align: center;
  width: 100%;
  margin: 20px auto;
}
.page-msg span {
  font-weight: 600;
}

.log-reg-from {
  width: 100% !important;
}

.log-reg-btn {
  width: 100%;
  padding: 8px 0;
  background-color: rgb(0, 200, 255);
  border: none;
  border-radius: 5px;
  font-weight: 700;
  color: white;
  margin: 15px auto;
  transition: all 0.25s ease-in-out;
  cursor: pointer;
}

.log-reg-btn:hover {
  background-color: rgb(0, 255, 170);
  color: #17293a;
}

.log-reg-link-home {
  text-decoration: none;
  color: white;
  margin: auto;
  font-size: 14px;
}

.log-reg-link-home span {
  text-decoration: underline;
  color: cornsilk;
}

form {
  margin: auto;
  display: flex;
  flex-direction: column;
}

form label {
  width: 100%;
}

form p {
  text-align: left;
  margin: 0;
  color: rgb(255, 162, 162);
  border-radius: 3px;
  padding-left: 5px;
  margin-bottom: 5px;
  font-size: 14px;
}

form input,
textarea {
  margin: 3px 0;
  padding: 8px;
  border-radius: 5px;
  border: none;
  width: 95%;
  background-color: #fffdf6;
}

form input:focus,
textarea:focus {
  background-color: rgb(255, 253, 195);
  outline: none;
}

textarea {
  height: 100px;
}

/* Media Query Breakpoints
========================================*/

@media only screen and (min-width: 1100px) {
  main {
    margin: auto;
  }
  nav {
    right: 7vw;
  }
  .date-time h1 {
    font-size: 30px;
  }
}
